*{
  margin: 0;
  padding: 0;
}

.container{
  background-color: #f6b319;
  display: flex;
  justify-content: space-between;
  align-items: center ; 
  /* width: 100%; */
  padding: 11px 114px;
}
.left{
  display: flex;
  justify-content: space-between;
  align-items: center ; 

}
.hedding{
  margin-left: 20px;
}
.koshir{
  display: flex;
  padding: 10px;
  font-size: 25px;
  font-weight: bolder;
}
.koshir i{
  font-size: 25px;
}
.right{
  /* background-color: red; */
}
.icons{
  display: flex;
  padding: 0 20px;
}
.icons i{
  padding: 0 20px;
  font-size: 40px;
}
.icons h4{
  font-size: 40px;
}
.container-flude{
  width: 100%;
  background-color: darkred;
  /* height: 200px; */
  /* height: 100vh; */
  
}
.cont{
  /* background-color: black; */
  margin: auto;
  width: 80%;
  height: 95%;
  box-shadow: 5px 0 41px 21px rgba(0, 0, 0, 0.85 );
  
  
}
.cont img{
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
.threecont{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first{
  width: 33%;
  height: 300px;
  background-color: blue;
  margin-top: 10px;
  background: url(../images/menu-tile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 0 41px 21px rgba(0, 0, 0, 0.85 );
  
}
.second{
  width: 33%;
  height: 300px;
  background-color: blue;
  margin-top: 10px;
  background: url(../images/menu/CM/CM.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 0 41px 21px rgba(0, 0, 0, 0.85 );
}

.thirsd{
  width: 33%;
  height: 300px;
  background-color: blue;
  margin-top: 10px;
  background: url(../images/menu/A/A.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 0 41px 21px rgba(0, 0, 0, 0.85 );
}



.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */



/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
/* END HOME PAGE */

/* MENU CATEGORIES PAGE */
.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
/* END MENU CATEGORIES PAGE */

/* SINGLE CATEGORY PAGE */
.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-tile hr {
  width: 80%;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: .6em;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #3F0C1F; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .9em;
  font-style: italic;
}
/* END SINGLE CATEGORY PAGE */


/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  }
  /* End Home Page */
}
